.btn-primary {
  color: #fff;
  background-color: #3aa484;
  border-color: #3aa484;
}
.btn-primary:hover {
  color: #fff;
  background-color: #673b9f;
  border-color: #673b9f;
}

.bg {
  background-color: #673b9f;
}

.navbar {
  background-color: #673b9f;
}

#nav-dropdown {
  color: white;
}
